<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ini adalah halaman tentang about</h2>
    Mahasiswa adalah seseorang yang sedang menempuh 
    pendidikan di perguruan tinggi, baik universitas,
     institut, sekolah tinggi, maupun akademi. 
     Mereka berada pada tahap pembelajaran yang 
     lebih tinggi setelah lulus dari jenjang 
     ekolah menengah. Mahasiswa biasanya berusia 
     emaja akhir hingga dewasa muda, berada pada 
     fase pencarian jati diri, dan memiliki tanggung 
     jawab untuk mengembangkan pengetahuan, 
     keterampilan, serta kepribadian.

Sebagai agen perubahan (agent of change), 
mahasiswa diharapkan tidak hanya berfokus pada 
akademik, tetapi juga aktif dalam kegiatan organisasi, 
penelitian, pengabdian masyarakat, dan aktivitas sosial. 
Mahasiswa sering digambarkan sebagai generasi penerus 
bangsa yang memiliki semangat kritis, inovatif, 
dan idealis dalam memperjuangkan kebenaran serta keadilan.
</body>
</html>