<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ini adalah halaman tentang contact</h2>
    Kontak mahasiswa yang bisa di hubungi : 081 1212 4041
</body>
</html>